.navigation-wrapper {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;

	font-family: 'Spartan', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

	background-color: white;
	color: black;

	width: 100%;
	height: 60px;

	.heading {
		font-size: 22px;
		margin-left: 30px;
		color: cadetblue;
		font-weight: 300;
		text-decoration: none;
		transition: 400ms;

		&:hover {
			letter-spacing: 1px;
		}
	}

	.navigation {
		.nav-list {
			display: flex;
			flex-direction: row;
			align-items: center;
			justify-content: center;

			margin-right: 60px;

			list-style-type: none;

			.nav-item {
				margin-left: 10px;

				.nav-link {
					text-decoration: none;
					font-weight: 400;
					transition: 50ms all ease;
					color: cadetblue;

					&:hover {
						border-bottom: 2px solid orangered;
					}
				}

				.welcome-feedback {
					color: green;
					font-weight: 600;

					.username {
						text-transform: uppercase;
					}
				}
			}
		}
	}
}
